#FOR LOOP

In [1]:
range(5)

range(0, 5)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
my_list = [1,4,7,10,-5]
my_list

[1, 4, 7, 10, -5]

In [7]:
for i in my_list:
    print(i)

1
4
7
10
-5

In [8]:
my_tuple = (3,-2, "hello", True)
my_tuple

(3, -2, 'hello', True)

In [9]:
for i in my_tuple:
    print(i)

3
-2
hello
True

In [10]:
for i in range(100): #è usato per iterare ma non siamo costretti ad usarla perchè siamo interessati nel print
    print("Barbera")

Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera
Barbera

In [11]:
for i in range(100): #è usato per iterare ma non siamo costretti ad usarla perchè siamo interessati nel print
    print(f"Barbera {}")

SyntaxError: f-string: empty expression not allowed (356713000.py, line 2)

In [12]:
for i in my_tuple:
    print("Barbera")

Barbera
Barbera
Barbera
Barbera

In [13]:
counter= 0
while counter < 5:
    print(counter)
    counter +=1
    if (counter ==3):
        break
        print (counter)

0
1
2

In [14]:
counter= 0
while counter < 5:
    print(f"within the loop:  {counter}") #cpunter inside the loop
    counter +=1
    if (counter ==3):
        break
        
print (f"outside of the loop: {counter}") #counter outside the loop

within the loop:  0
within the loop:  1
within the loop:  2
outside of the loop: 3

#ERROR HANDLIGN

In [2]:
try:
    x=3/0

except ZeroDivisionError as e:
    print(e)

division by zero

In [4]:
try:
    x=10 + "abc"

except TypeError as e:
    print(f"The following error occured: {e}")

The following error occured: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
my_list = [1,2,3,4,5]
print(my_list[10])

IndexError: list index out of range

In [6]:
try:
    my_list = [1,2,3,4,5]
    print(my_list[10])

except Exception as e:
    print("The following error type hashappened: {e}")

The following error type hashappened: {e}