In [1]:
if 10>5:
    print("Ten is bigger than five")
else:
    print( "It's lower")

print("Today is sunny")

Ten is bigger than five
Today is sunny

In [2]:
def sum(a,b):
    """
    This function re
    """
    result = a+b #a is added to b and associated with "result"
    return result #we return the "result" variable

In [3]:
sum(10,20)

30

In [4]:
sum("Mike","Elisa")

'MikeElisa'

In [2]:
sum("Mike", 50)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
age = 30

In [4]:
Age = 20

In [5]:
age

30

In [6]:
Age

20

In [7]:
building1 = "church"

In [12]:
building1_name = "church" #snake syntax
building1Name = "church" #cameL ì syntax

building1_height = 100

building2_name = "Stadium"
building2_height = 100

building3_name = "Igloo"
building3_height = 100

In [13]:
print(building4_name)

NameError: name 'building4_name' is not defined

In [14]:
age = 40.5

In [15]:
student name = "Maria"

SyntaxError: invalid syntax (989380899.py, line 1)

In [21]:
student_name = "Maria"
print(student_name)
print(student_name+student_name)

Maria
MariaMaria

In [22]:
type (age)

float

In [24]:
dangerous = True
type (dangerous)

bool

In [25]:
type(3>5)

bool

In [27]:
d = str(dangerous)

In [28]:
tyoe(d)

NameError: name 'tyoe' is not defined

In [29]:
type (d)

str

In [30]:
d

'True'

In [31]:
s = "20"

In [32]:
s+s

'2020'

In [33]:
int(s)+int(s)

40

In [36]:
a= 20
b = "Julie"
c= True
d= 3.5

In [37]:
type (d)

float

In [38]:
flot(a)

NameError: name 'flot' is not defined

In [39]:
float(a)

20.0

In [40]:
type(float(a))

float

In [41]:
10%3

1

In [42]:
def is_even(a):
    """
    this function returns True if the number is even,
    otherwise it returns False
    """
    result = a %2
    if result ==1:
        return False
    else:
        return True
is_even(11)

False

In [43]:
def is_even(a):
    """
    this function returns True if the number is even,
    otherwise it returns False
    """
    if a%2 ==1:
        return False
    else:
        return True
is_even(11)

False

In [44]:
def is_even_3(a):
    """
    this function returns True if the number is even,
    otherwise it returns False
    """
    if a%2 ==1:
        return False
    else:
        return True
print(is_even_3(10))
print(is_even_3(11))

True
False

In [45]:
def is_even_3(a):
    """
    this function returns True if the number is even,
    otherwise it returns False
    """
    if a%2 ==1:
        return True
    
    return False
print(is_even_3(10))
print(is_even_3(11))

False
True

In [46]:
def is_even_4(a):
    """
    this function returns True if the number is even,
    otherwise it returns False
    """
    return (a % 2 == 0) 

print(is_even_4(10))
print(is_even_4(11))

True
False

In [47]:
2 ** 10

1024

In [48]:
2 ** (-3.5)

0.08838834764831845

In [49]:
11/3 #the value of the ratio

3.6666666666666665

In [50]:
11//3 #integer part of the division

3

In [53]:
int(11/3)

3

In [56]:
a = 10
b = 5

a += b #we want to add a to b, so equivalent to "a= a+b"
a

15

In [57]:
a == b

False

In [58]:
a != b #to say they are different

True

In [59]:
a= 10
b= 5
c= 0
d= -10

In [60]:
a,b,c,d

(10, 5, 0, -10)

In [61]:
a > b and c > d

True

In [ ]:
a < b and c > d or a < b and c > d #se ho un "and" ho true solo se entrmabi sono veri altrimenti ho false 
False and True or False

In [63]:
s = "I have to fix mu sink" #in this case it is indifferent 
s

'I have to fix mu sink'

In [65]:
s= 'my wife told me: "you have to fix our sink!"'
s

'my wife told me: "you have to fix our sink!"'

In [68]:
s2 = "these are the results:
- MIke: 3
- Elisa : 10
"

SyntaxError: unterminated string literal (detected at line 1) (4187282343.py, line 1)

In [69]:
s2 = """these are the results:
- MIke: 3
- Elisa : 10
"""

In [70]:
s3 = "Today is a good day"
s3

'Today is a good day'

In [71]:
s3[:10] #first ten characters

'Today is a'

In [72]:
s3[-10:] #last ten characters

' good day'

In [74]:
s3[4:6] # è escluso il 6, infatti ho solo il 4 carattere e il quinto che è lo spazio

'y '

In [76]:
s3[2:6:2] #parte dalla seconda, il conto è da 0, arriva a 6th escluso e fa salti di 2

'dy'

In [77]:
s3.upper() #mostra la stringa tutta maiuscola

'TODAY IS A GOOD DAY'

In [78]:
s3.find)"GOOD")

SyntaxError: unmatched ')' (3224673791.py, line 1)

In [79]:
s3.find ("good") #il posto che occupa questa parola ma sempre partendo da 0

11

In [82]:
s3.replace("good", "bad".upper())

'Today is a BAD day'

In [91]:
name = "Angela"
print("Hello " + name)
print("Hello {name}!")
print(f"Hello {name}!")
print(f"Hello\n{name}!")

Hello Angela
Hello {name}!
Hello Angela!
Hello
Angela!

In [90]:
print("Hello, %s" % "Angela")

Hello, Angela